* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.bg-image {
  background-image: url("./img/Img_1.png");
  width: 80vw;
  height: 700px;
  background-size: cover;
}

.ground {
  background-image: url("./img/Img_02.png");
}
